# CMake / build
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/
log.txt

# binare
*.o
*.o.d
*.exe
*.out
*.log
*.obj
*.pdb
*.ilk

# editor / OS
.DS_Store
Thumbs.db
.vscode/
*.swp
*.pyc

# imgui
imgui.ini
